@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;

600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

/*Шрифты*/

/*--------------------*/

/*mixin*/

/*--------------------*/

/* Слайдер */

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

.slick-arrow {
  font-size: 0;
}

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

.slick-dots {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.slick-dots li {
  list-style: none;
}

/* Активная точка */

.slick-dots li.slick-active button {
  background-color: #000;
  font-size: 0;
  height: 13px;
  width: 13px;
  border: 1px solid #000;
  border-radius: 50%;
}

/* Элемент точки */

.slick-dots li button {
  font-size: 0;
  height: 13px;
  width: 13px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: transparent;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.conteiner {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 40px 0 55px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav_logo a {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  position: relative;
  z-index: 2;
}

.nav_menu {
  position: relative;
}

.nav_menu-body.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.nav_menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav_menu-item:not(:last-child) {
  margin-right: 30px;
}

.nav_menu-link {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  color: #989898;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.icon_menu {
  display: none;
}

.footer_section {
  padding: 45px 0;
}

.footer_content {
  text-align: center;
}

.footer_text span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.footer_text p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #656565;
}

.btn {
  min-height: 50px;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 300;
  line-height: 48px;
  padding: 0 38px;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.title {
  font-size: calc(40px + 20 * ((100vw - 320px) / 1080));
  font-weight: 600;
  line-height: 64px;
  text-align: center;
}

/*==========================================================================*/

/*/SECTION_SLIDER/==========================================================*/

.slider_body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-width: 0;
  position: relative;
}

.slider_content {
  padding: 100px 10px 0 10px;
}

.content_title {
  font-size: calc(38px + 10 * ((100vw - 320px) / 1080));
  font-weight: bold;
  line-height: 54px;
  position: relative;
  padding-bottom: 12px;
}

.content_title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 47.5%;
  height: 2px;
  width: 55px;
  background-color: #000;
}

.content_text {
  font-size: calc(22px + 2 * ((100vw - 320px) / 1080));
  font-weight: 300;
  line-height: 32px;
  margin-top: 12px;
  margin-bottom: 74px;
}

.content_btn {
  background-color: #000;
  display: inline-block;
  margin-bottom: 100px;
  color: #fff;
}

/* Точки (булиты) */

.slider_body .slick-dots {
  margin-right: 30px;
  right: 0;
  bottom: 40%;
  left: 95%;
}

/*==========================================================================*/

/*==========================================================================*/

/*==========================================================================*/

/*/SECTION_SERVICES/========================================================*/

.section_services {
  padding: 67px 0 0 0;
}

.services_title {
  margin-bottom: 70px;
}

.services_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}

.services_content-row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.services_content-row img {
  max-width: 100%;
}

.content_text-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
  padding-bottom: 18px;
  position: relative;
}

.content_text-title span {
  font-size: 48px;
  font-weight: 700;
}

.content_text-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 55px;
  background-color: #000;
}

.content_text-body {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: #656565;
  margin-bottom: 90px;
  margin-top: 22.5px;
}

.content_text-body:not(:last-child) p {
  margin-bottom: 40px;
}

.content_text-btn {
  border: 1px solid #D8D8D8;
  background-color: transparent;
  display: inline-block;
  color: #000;
}

/*==========================================================================*/

/*==========================================================================*/

/*==========================================================================*/

/*/SECTION_WORK/============================================================*/

.section_work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work_title {
  margin-bottom: 85px;
}

.work_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -2%;
}

.work_column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work_column-img {
  margin-bottom: 28px;
  margin-right: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.work_column-img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.work_btn {
  text-align: center;
  margin-bottom: 25px;
}

.work_btn-link {
  display: inline-block;
  background-color: #000;
  color: #fff;
}

.small {
  max-width: 100%;
  height: 364px;
  -o-object-fit: cover;
     object-fit: cover;
}

.big {
  max-width: 100%;
  height: 590px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*
.work__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/

.bg_column {
  position: absolute;
  background-color: #FFE1BD;
  margin: 28px;
  padding: 70px 80px 77px 80px;
  text-align: center;
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
  opacity: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.bg_title {
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  color: #000;
  padding-bottom: 20px;
  position: relative;
}

.bg_title::after {
  content: '';
  height: 2px;
  width: 55px;
  background-color: #000;
  bottom: 0;
  left: 30%;
  position: absolute;
}

.bg_text {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  line-height: 42px;
  color: #000;
  margin-top: 20px;
}

/*==========================================================================*/

/*==========================================================================*/

/*==========================================================================*/

/*/SECTION_TEAM/============================================================*/

.section_team {
  margin-top: 25px;
  padding-bottom: 107px;
  background-color: #FFE1BD;
}

.team_title {
  padding-top: 66px;
  margin-bottom: 85px;
}

.team_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
  min-width: 0;
}

.team_column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.team_column-content {
  margin-bottom: 54px;
}

.team_column-img {
  margin-bottom: 10px;
}

.team_column-img img {
  border-radius: 50%;
  width: 168px;
  height: 168px;
}

.team_column-title {
  max-width: 215px;
  font-size: 40px;
  font-weight: bold;
  line-height: 42px;
  padding-bottom: 10px;
  position: relative;
  display: inline-block;
}

.team_column-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 37%;
  height: 2px;
  width: 55px;
  background-color: #000;
}

.team_column-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  margin-top: 10px;
}

.team_row .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team_row .slick-dots li:not(:last-child) {
  margin-right: 17px;
}

/* Стрелка */

.slick-arrow {
  font-size: 0;
  min-width: 28px;
  min-height: 54px;
  position: absolute;
  top: 18%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 3;
}

/* Стрелка влево */

.slick-arrow.slick-prev {
  background: url(../img/icons/arrow_left.svg) 0 0/100% no-repeat;
  left: -5%;
}

.slick-arrow.slick-prev:hover {
  background: url(../img/icons/arrow_left_h.svg) 0 0/100% no-repeat;
}

/* Стрелка вправо */

.slick-arrow.slick-next {
  background: url(../img/icons/arrow_right.svg) 0 0/100% no-repeat;
  right: -5%;
}

.slick-arrow.slick-next:hover {
  background: url(../img/icons/arrow_right_h.svg) 0 0/100% no-repeat;
}

/* Стрелка не активная */

/*==========================================================================*/

/*==========================================================================*/

/*==========================================================================*/

/*/SECTION_CLIENTS/=========================================================*/

.section_clients {
  padding-top: 65px;
  margin-bottom: 100px;
}

.clients_title {
  margin-bottom: 40px;
}

.clients_body-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients_body-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.clients_body-column.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 100px;
  text-align: end;
}

.clients_body-column.right p {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: #656565;
}

.clients_body-column-title {
  font-size: 40px;
  font-weight: bold;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.clients_body-column-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -2%;
  height: 2px;
  width: 55px;
  background-color: #000;
}

.clients_body-column-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
  padding-top: 10px;
}

.clients_slier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
  position: relative;
  text-align: center;
}

.clients_slider-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.clients_slider-img img {
  width: 266px;
  height: 140px;
}

.clients_slier .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients_slier .slick-dots li:not(:last-child) {
  margin-right: 17px;
}

/*==========================================================================*/

/*==========================================================================*/

/*==========================================================================*/

/*/SECTION_CONTACTINFO/=====================================================*/

.section_contactinfo {
  background-color: #000000;
  padding: 67px 0 100px 0;
}

.contactinfo_title {
  color: #fff;
  margin-bottom: 76px;
}

.contactinfo_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contactinfo_column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contactinfo_column-top {
  margin-bottom: 44px;
}

.contactinfo_column-list a {
  padding-left: 20px;
  display: inline-block;
}

.contactinfo_column-list:not(:last-child) {
  margin-bottom: 40px;
}

.contactinfo_column-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactinfo_column-link {
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.social_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social_item {
  min-width: 40px;
  min-height: 40px;
}

.social_item:not(:last-child) {
  margin-right: 20px;
}

.social_link {
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.contactinfo_column-form input,
.contactinfo_column-form textarea {
  width: 100%;
  color: #707070;
  font-size: 18px;
  font-weight: 300;
  line-height: 48px;
  border-bottom: 1px solid #333333;
  background-color: transparent;
  margin-bottom: 40px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.contactinfo_column-form input:not(:-moz-placeholder-shown) + label, .contactinfo_column-form textarea:not(:-moz-placeholder-shown) + label {
  top: -3px;
  font-size: 14px;
}

.contactinfo_column-form input:not(:-ms-input-placeholder) + label, .contactinfo_column-form textarea:not(:-ms-input-placeholder) + label {
  top: -3px;
  font-size: 14px;
}

.contactinfo_column-form input:focus + label,
.contactinfo_column-form input:not(:placeholder-shown) + label,
.contactinfo_column-form textarea:focus + label,
.contactinfo_column-form textarea:not(:placeholder-shown) + label {
  top: -3px;
  font-size: 14px;
}

.contactinfo_column-form label {
  font-size: 18px;
  font-weight: 300;
  color: #707070;
}

.contactinfo_column-form textarea {
  resize: none;
}

::-webkit-input-placeholder {
  opacity: 0;
}

.form_item {
  position: relative;
}

.form_item label {
  position: absolute;
  left: 0;
  top: 20px;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}

.form_btn {
  padding: 0 60px;
}

.facebook {
  background: url(../img/icons/facebook.svg) 0 0/100% no-repeat;
}

.twitter {
  background: url(../img/icons/twitter.svg) 0 0/100% no-repeat;
}

.google_plus {
  background: url(../img/icons/google_plus.svg) 0 0/100% no-repeat;
}

.pinterest {
  background: url(../img/icons/pinterest.svg) 0 0/100% no-repeat;
}

.instagram {
  background: url(../img/icons/instagram.svg) 0 0/100% no-repeat;
}

/*==========================================================================*/

/*==========================================================================*/

@media (min-width: 767px) {
  .slider_body .slick-dots li:not(:last-child) {
    margin-bottom: 17px;
  }
}

@media (min-width: 920px) {
  .nav_menu-link:hover {
    color: #000;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #FFCB93;
    color: #000;
    -webkit-box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.16);
            box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.16);
  }

  .work_column-img:hover .bg_column {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .contactinfo_column-link:hover {
    color: #FFCB93;
  }

  .facebook:hover {
    background: url(../img/icons/facebook_h.svg) 0 0/100% no-repeat;
  }

  .twitter:hover {
    background: url(../img/icons/twitter_h.svg) 0 0/100% no-repeat;
  }

  .google_plus:hover {
    background: url(../img/icons/google_plus_h.svg) 0 0/100% no-repeat;
  }

  .pinterest:hover {
    background: url(../img/icons/pinterest_h.svg) 0 0/100% no-repeat;
  }

  .instagram:hover {
    background: url(../img/icons/instagram_h.svg) 0 0/100% no-repeat;
  }
}

@media (min-width: 1024px) {
  .content_text-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .services-right {
    margin-left: 95px;
  }

  .services-left {
    margin-right: 95px;
  }
}

@media (max-width: 1270px) {
  .slick-arrow.slick-prev {
    left: 0;
  }

  .slick-arrow.slick-next {
    right: 0;
  }
}

@media (max-width: 1110px) {
  .services_title {
    margin-bottom: 30px;
  }

  .work_title {
    margin-bottom: 30px;
  }
}

@media (max-width: 1100px) {
  .services_content {
    padding-bottom: 40px;
  }

  .content_text-body {
    margin-bottom: 50px;
  }
}

@media (max-width: 1024px) {
  .services_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .services-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .content_text-title {
    margin-top: 20px;
  }

  .content_text-body {
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .content_title::after {
    left: 40%;
  }

  .work_body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .bg_column {
    display: none;
  }

  .section_team {
    padding-bottom: 40px;
  }

  .team_title {
    margin-bottom: 30px;
  }

  .section_contactinfo {
    padding: 47px 0 40px 0;
  }

  .contactinfo_title {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 35px 0 40px 0;
  }

  .content_text {
    margin-bottom: 60px;
  }

  .slider_body .slick-dots {
    bottom: 0;
    right: 0;
    left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .slider_body .slick-dots li:not(:last-child) {
    margin-right: 17px;
    margin-bottom: 0;
  }
}

@media (max-width: 720px) {
  .contactinfo_column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .contactinfo_column-bottom {
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  .nav_menu-item:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 580px) {
  .nav_menu-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFE1BD;
    z-index: 1;
    padding: 90px 0  0 20px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  .nav_menu-list {
    display: block;
  }

  .nav_menu-item:not(:last-child) {
    margin-bottom: 24px;
    margin-right: 0;
  }

  .nav_menu-link {
    font-size: 28px;
  }

  .icon_menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon_menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon_menu span:first-child {
    top: 0px;
  }

  .icon_menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon_menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background-color: #989898;
  }

  .icon_menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon_menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .slider_content {
    padding: 60px 10px 0 10px;
  }

  .content_text {
    margin-bottom: 54px;
  }

  .content_btn {
    margin-bottom: 60px;
  }

  .section_team {
    padding-bottom: 20px;
  }

  .team_column-content {
    margin-bottom: 0;
  }
}

@media (max-width: 530px) {
  .work_column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 500px) {
  .clients_body-row {
    margin-bottom: 40px;
  }

  .clients_body-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .clients_body-column.left {
    text-align: left;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .clients_body-column-title::after {
    right: 40%;
  }

  .clients_slier {
    padding-bottom: 10px;
  }
}